<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>This is random text</header>
    <section>
            <h2>Admissions</h2>
            Admissions will start soon
            </section>
        <section>
            <h2>Placements</h2>
        </section>
    <article>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis dolorem eaque praesentium deleniti ipsum facere illum nisi, inventore, adipisci quaerat repellat. Maxime perferendis vel enim facere, architecto tempore omnis harum doloremque consectetur similique, saepe officiis, debitis deserunt recusandae. Laboriosam in provident amet dicta architecto recusandae culpa, et temporibus, nam aspernatur ratione, perspiciatis atque placeat sapiente repellat. In tempora quas voluptate, minus, unde quia est sunt nulla numquam vitae officia. Soluta ea deserunt impedit pariatur aliquid omnis libero debitis perferendis suscipit nesciunt provident architecto, possimus tempore quaerat placeat illo eveniet, a ullam autem. Blanditiis ut quasi accusantium perferendis obcaecati, necessitatibus maiores?</article>
</body>
</html>