<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="#content">content</a></nav>
            </header>
        <main>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae vitae illo quos repellat harum tempore sequi vero deserunt facilis, incidunt eius laboriosam modi neque veniam voluptatibus corrupti provident doloremque eveniet, ut exercitationem sapiente? Quis consequatur iure dolorum fugit iusto. Laborum illum ipsa autem at magnam hic, distinctio eos quaerat velit, dolores consequatur quasi neque quia, eaque vero mollitia soluta explicabo recusandae cumque modi architecto. Aliquam fuga, sapiente molestias itaque distinctio similique quisquam nobis officia vero hic? Non atque sapiente harum alias! Veniam quibusdam, laudantium dolorem quasi iusto possimus vero reprehenderit officiis soluta hic consequatur qui eligendi quos inventore earum. Dolor?</p>
           <p id="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eius, in aspernatur quisquam amet magnam minus aliquid recusandae enim inventore, reprehenderit atque rerum vero, temporibus dignissimos ducimus a provident harum nobis totam dolorum tempora non quia. Repellendus, natus quis? Fuga quia a fugiat vero cum necessitatibus, et doloremque hic rerum!</p> </main>

</body>
</html>